@import "tailwindcss";

@theme {
  --color-primary-50: #f1f7f3;
  --color-primary-100: #e2ece5;
  --color-primary-200: #c6dbcd;
  --color-primary-300: #9fc1aa;
  --color-primary-400: #71a182;
  --color-primary-500: #4e8561;
  --color-primary-600: #3a6b4c;
  --color-primary-700: #2d553b;
  --color-primary-800: #244430;
  --color-primary-900: #1b3324;

  --color-accent-50: #f0fdfa;
  --color-accent-100: #ccfbf1;
  --color-accent-200: #99f6e4;
  --color-accent-500: #14b8a6;
  --color-accent-600: #0d9488;
  --color-accent-700: #0f766e;

  --color-neutral-bg: #f5f8f6;
}

body {
  @apply bg-neutral-bg text-slate-800 antialiased;
}
